<!doctype html>
<html>
<head>
    <title>let's play madlibs!</title>
</head>
<body>
    <p>Fill your words in the blanks.</p>
    <form action="/madlib">
        <input type="text" name="person" placeholder="ENTER PERSON"><br><br>
        <select name="color">
            <option value="fuscia">Fuscia</option>
            <option value="maroon">Maroon</option>
            <option value="eggplant">Eggplant</option>
            <option value="periwinkle">Periwinkle</option>
            <option value="chartreuse">Chartreuse</option>
            <option value="cerulean">Cerulean</option>
            <option value="tangerine">Tangerine</option>
        </select><br><br>
        <input type="text" name="noun" placeholder="ENTER NOUN"><br><br>
        <input type="text" name="adjective" placeholder="ENTER ADJECTIVE"><br><br>
        <p>Select an animal</p>
        <input type="radio" name="animal" value="platypus">Platypus<br>
        <input type="radio" name="animal" value="aardvark">Aardvark<br>
        <input type="radio" name="animal" value="capybara">Capybara<br>
        <input type="radio" name="animal" value="bushbaby">Bushbaby<br>
        <input type="radio" name="animal" value="jackelope">Jackelope<br></br>
        <p>Check all present-tense verbs that apply:</p>
        <input type="checkbox" name="verb" value="lick">lick<br>
        <input type="checkbox" name="verb" value="chug">chug<br>
        <input type="checkbox" name="verb" value="square dance">square dance<br>
        <input type="checkbox" name="verb" value="snog">snog<br>
        <input type="checkbox" name="verb" value="scuttle">scuttle<br><br>




        <input type="submit" value="Submit">
    </form>
</body>
</html>