<!doctype html>
<html>
<head>
    <title>Madlibs!</title>
</head>
<body>
    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.</p>

    <p> The {{ animal }} was not amused. The {{ animal }} resurrected the {{ color }} {{ noun }}.</p>

    <p>The {{ animal }} wouldn't 
        
        {% for verb in verbs %}
        {{ verb }},
        {% endfor %}

    that {{ noun }} for its life.</p>

</body>
</html>